<p id="notice"><%= notice %></p>

<p>
  <strong>Hostname:</strong>
  <%= @sensor_entry.hostname %>
</p>

<p>
  <strong>Battery:</strong>
  <%= @sensor_entry.battery %>
</p>

<p>
  <strong>Voltage:</strong>
  <%= @sensor_entry.voltage %>
</p>

<p>
  <strong>Temp:</strong>
  <%= @sensor_entry.temp %>
</p>

<p>
  <strong>Humidity:</strong>
  <%= @sensor_entry.humidity %>
</p>

<p>
  <strong>Heat index:</strong>
  <%= @sensor_entry.heat_index %>
</p>

<%= link_to 'Edit', edit_sensor_entry_path(@sensor_entry) %> |
<%= link_to 'Back', sensor_entries_path %>
